@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
  @apply bg-cyan-300 min-h-dvh text-black text-xl leading-6 flex flex-col;
}

:focus-visible {
  @apply outline-2 outline-red-500 outline-double outline-offset-0;
}

::selection {
  @apply bg-red-500 text-white;
}

.no-overflow {
  @apply text-ellipsis text-nowrap w-full overflow-hidden max-w-fit block;
}

input[type="checkbox"]::before {
  content: "";
  @apply w-3 h-3 max-w-3 max-h-3 text-sm hidden bg-contain bg-center;
  background-image: url("/icons/checkmark-3.svg");
}

input[type="checkbox"]:checked::before {
  @apply inline-block;
}
